.limiter {
  width: 100%;
  margin: 0 auto;
}


.container-background {
  width: 100%;  
  min-height: 100vh;
/*  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-background::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

/*---------------------------Garage-----------------------*/

.garage-image {
  width: 280px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

table.garage-table {
  border: 15px;
  table-layout: fixed;
  width: 1500px;
  font-size: 30px;  
}

.dateinput {
  width: 250px;
  height: 40px;
  font-size: 25px;
  margin-left: 2.5em 
}

.selectbar {
  width: 140px;
  height: 40px;
  font-size: 25px;
  margin-left: 2.5em
}

.submit {
  width: 100px;
  height: 40px;
  font-size: 25px;
  margin-left: 2.5em
}